In [65]:
import glob                         # this module helps in selecting files 
import pandas as pd                 # this module helps in processing CSV files
import xml.etree.ElementTree as ET  # this module helps in processing XML files.
from datetime import datetime
import wget

In [13]:
wget 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/source.zip'

SyntaxError: invalid syntax (2158970707.py, line 1)

In [14]:
url = 'http://www.futurecrew.com/skaven/song_files/mp3/razorback.mp3'
myfile = wget.download(url)

100% [..........................................................................] 3841532 / 3841532

In [29]:
py - m unzip source.zip

SyntaxError: invalid syntax (2905408426.py, line 1)

In [35]:
import zipfile as zf
zip = zf.extractall('source.zip')

AttributeError: module 'zipfile' has no attribute 'extractall'

In [10]:
import requests
url = 'http://www.futurecrew.com/skaven/song_files/mp3/razorback.mp3'
doc = requests.get(url)
with open('razorback.mp3', 'wb') as f:
    f.write(doc.content)

In [66]:
df_csv=pd.read_csv(r"C:\Users\Python_learning\source_1\source1.csv")
df_csv

    name  height  weight
0   alex   65.78  112.99
1   ajay   71.52  136.49
2  alice   69.40  153.03
3   ravi   68.22  142.34
4    joe   67.79  144.30

In [67]:
df_csv2=pd.read_csv(r"C:\Users\Python_learning\source_1\source2.csv")
df_csv2

    name  height  weight
0   alex   65.78  112.99
1   ajay   71.52  136.49
2  alice   69.40  153.03
3   ravi   68.22  142.34
4    joe   67.79  144.30

In [68]:
df_csv3=pd.read_csv(r"C:\Users\Python_learning\source_1\source3.csv")
df_csv3

    name  height  weight
0   alex   65.78  112.99
1   ajay   71.52  136.49
2  alice   69.40  153.03
3   ravi   68.22  142.34
4    joe   67.79  144.30

In [69]:
df_json2=pd.read_json(r"C:\Users\Python_learning\source_1\source2.json",lines=True)
df_json2

    name  height  weight
0   jack   68.70  123.30
1    tom   69.80  141.49
2  tracy   70.01  136.46
3   john   67.90  112.37

In [70]:
#df_xml=pd.read_xml(r"C:\Users\Python_learning\source_1\source2")
#df_xml
import xml.etree.ElementTree as ET
import pandas as pd

xml_data = open('C:/Users/Python_learning/source_1/source2.xml','r').read()  # Read file
root = ET.XML(xml_data)  # Parse XML

data = []
cols = []
for i, child in enumerate(root):
    data.append([subchild.text for subchild in child])
    cols.append(child.tag)

df_xml = pd.DataFrame(data).T  # Write in DF and transpose it
df_xml.columns = cols  # Update column names
print(df_xml)

   person  person  person  person
0   simon   jacob   cindy    ivan
1   67.90   66.78   66.49   67.62
2  112.37  120.67  127.45  114.14

In [71]:
tmpfile    = "temp.tmp"               # file used to store all extracted data
logfile    = "logfile.txt"            # all event logs will be stored in this file
targetfile = "transformed_data.csv"   # file where transformed data is stored

# CSV Extract function

In [72]:
def extract_from_csv(file_to_process):
    dataframe = pd.read_csv(file_to_process)
    return dataframe

# JSON Extract Function

In [73]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process,lines=True)
    return dataframe

In [74]:
def extract():
    extracted_data = pd.DataFrame(columns=['name','height','weight']) # create an empty data frame to hold extracted data
    
    #process all csv files
    for csvfile in glob.glob("*.csv"):
        extracted_data = extracted_data.append(extract_from_csv(csvfile), ignore_index=True)
        
    #process all json files
    for jsonfile in glob.glob("*.json"):
        extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index=True)
    return extracted_data

In [75]:
def transform(data):
        #Convert height which is in inches to millimeter
        #Convert the datatype of the column into float
        #data.height = data.height.astype(float)
        #Convert inches to meters and round off to two decimals(one inch is 0.0254 meters)
        data['height'] = round(data.height * 0.0254,2)
        
        #Convert weight which is in pounds to kilograms
        #Convert the datatype of the column into float
        #data.weight = data.weight.astype(float)
        #Convert pounds to kilograms and round off to two decimals(one pound is 0.45359237 kilograms)
        data['weight'] = round(data.weight * 0.45359237,2)
        return data

In [76]:
def load(targetfile,data_to_load):
    data_to_load.to_csv(targetfile)

In [77]:
def log(message):
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open("logfile.txt","a") as f:
        f.write(timestamp + ',' + message + '\n')

In [78]:
log("ETL Job Started")

In [79]:
log("Extract phase Started")
extracted_data = extract()
log("Extract phase Ended")
extracted_data

C:\Users\v-shivampa\AppData\Local\Temp\ipykernel_14328\658975207.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_csv(csvfile), ignore_index=True)

Empty DataFrame
Columns: [name, height, weight, Unnamed: 0]
Index: []

In [80]:
log("Transform phase Started")
transformed_data = transform(extracted_data)
log("Transform phase Ended")
transformed_data

Empty DataFrame
Columns: [name, height, weight, Unnamed: 0]
Index: []

In [82]:
log("Load phase Started")
load(targetfile,transformed_data)
log("Load phase Ended")

In [83]:
log("ETL Job Ended")